

body,dl,dd,form,h1,h2,h3,h4,h5,h6,p,ul,ol{margin: 0;padding: 0;}
body{margin:0 auto}

#contain{
	/*width: 500px;*/
	text-align: center;
}


#img{
	/*width: 600px;*/
	display: block;
	margin: 0 auto;
	
	/*transition: all 2s;*/
 


   /* -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition:all 2s;*/
}
