	
	/* 要自适应图片必须先这样设置 固定格式 */		
	
	img{
		display:block;
		max-width:100%;
	}
	
	body {background:#fff}
	
	.hr-45{height:.45rem}
	
	.adver{
		max-width:6.4rem;   
		margin:0 auto;
		
		/* padding:.45rem 0 0; */
	}
		
	
	
	

	/* 搜索区域  */
	
	#search {
		max-width:6.4rem;
		height:0.33rem;
		background-color:#ddd;
		margin:0 auto;
		padding: .03rem 0 0 0;
		position:relative;
	}
	
	#search .search {
		display:block;
		width: 95%;
		height:0.27rem;
		border-radius:.04rem ;
		font-size: .14rem;
		background-color: #fff;
		border: none;
		padding: 0 .05rem;
		margin: 0 auto; 
		
		
	}
	
	#search .button {
		width: .5rem;
		background-color: #eee;
		cursor: pointer;
		color: #666;
		border: none;
		border-bottom-right-radius:.04rem;
		border-top-right-radius:.04rem;
		display: block;
		height:0.27rem;
		position: absolute; 
		font-size: .12rem;
		top: .03rem;
		right: 1%;
	
	}
	

	

	/* 标题区域  */
	
	#tour{
		max-width:6.4rem;
		margin:.1rem auto 0 auto;
	}
	
	
	#tour h2 {
		color:#666;
		font-size:.26rem;
		text-align:center;
		letter-spacing:.05rem;
	}
	
	#tour h3 {
		color:#666;
		font-weight: normal;
		font-size:.16rem;
		text-align:center;
		margin: .05rem 0 .1rem 0;
		letter-spacing:.05rem;
	}

	
	

	
	#content {
		max-width:6.4rem;
		margin:0 auto;
	}
	
	#content figure {
		width:50%;
		float:left;
		
		background:#eee;
		font-size:.16rem;
		padding:0 0 .05rem 0;
	}
	
	#content figure img{
		padding:.02px;
		border-radius:.04rem;
		/* vertical-align:middle;   啥用 */ 
	}
	
	#content figcaption {
		color:#666;
		padding:.02rem .05rem;
	} 
	
	#content h4 {
		font-weight:normal;
		white-space:nowrap;
		overflow:hidden;
	}
	
	#content p {
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
	#content .info {
		padding:.1rem 0 0 0;
		font-size:.16rem;
	}
	
	#content .price {
		color:#f60;
	}
	
	#content .sat {
		font-style:normal;
		float:right;
		position:relative;
		right:.05rem;
	}
	
	#content strong {
		letter-spacing:.01rem;
	}
	
	

/* 关于	 */
	
	#headline {
		max-width:6.4rem;
		margin:0 auto;
		padding:.45rem 0 0 0;
		position:relative;

	}
	
	

	#headline hgroup {
		position: absolute;
		top: 48%;
		left: 10%;
		color: #eee;
	}
	


	#headline h2 {
		font-size: .22rem;
	}
	
	#headline h3 {
		font-size: .14rem;
	}
	

	
	.about {
		max-width:6.4rem;
		margin:0 auto;
		color:#666;
	
		margin-top:.1rem;
	}
	
	.about h2 {
		font-size:.2rem;
		padding:0 0 .15rem 0;
		border-bottom:1px dashed #999;
	}
	
	.about p {
		font-size:.16rem;
		padding:.10rem 0 .10rem 0;
		
		line-height:2;
	}
	

	.about address {
		font-size:.16rem;
		font-style: normal;
		line-height: 1.6;
		margin: .2rem 0;
	}
	
	
	

/* 票务	 */
	
.ticket {
	max-width:6.4rem;
	margin:0 auto;
	color:#888;
}	
	
.ticket h2,.new h2{
	font-size: .2rem;
	border-bottom: .015rem dashed #999;
	padding: .15rem 0 .15rem 0;
	color:#666;
}

.ticket .type,.form {
		padding-left:0;
}
	
.ticket .type {
	margin: .2rem 0 .2rem 0;
	border: none;

}

.ticket .type {
	color:#666;
	height:.1rem;
}

.ticket .type mark {
	color: #fff;
	background-color: #458B00;
	padding: .05rem .08rem;
	border-radius: .04rem;
	margin: 0 .1rem 0 .16rem;
}

.ticket .form {
	border: none;
}

.ticket .form2 {
	margin-top:-.1rem;
}

.ticket .form p {
	margin: .05rem 0;
}
.ticket .form label {
	display: block;
	margin: 0 0 .1rem 0;
}
.ticket .form input {
	width: 97%;
	height: .2rem;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: .04rem;
	padding: .05rem;
	color: #666;
}
 .ticket .submit { 
	 width: 30%; 
	border-radius: .04rem;
	background-color: #f60;
	color: #fff;
	text-align: center;
	border: none;
	cursor: pointer;
	padding: .1rem;
	margin: 0 auto;
	display: block;
} 
.ticket .new {
	margin: .2rem 0 0 0;
} 
.ticket .new ul {
	margin: 20px 0 0 0;
}
.ticket .new li {
	display: inline-block;
	padding: 5px 10px;
}
.ticket .new li:first-child {
	padding-left: 0;
}
.ticket .new li:nth-child(2) {
	background-color: #458B00;
	border-radius: 4px;
	color: #fff;
}
.ticket table {
	width: 100%;
    border-collapse:collapse;
    margin: 20px 0 0 0;
    border: 1px solid #ddd;
}
.ticket table th {
	padding: .15rem 0;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
.ticket table td {
	padding: .15rem 0;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.ticket table tr:nth-child(2n) {
	background-color: #fafafa;
}
.ticket table tr:hover {
	background-color: #eee;
}
.ticket .price {
	color: #f60;
}
.ticket .more2 {
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	color: #666;
}
.ticket .reserve {
	border-radius: .04rem;
	background-color: #f60;
	color: #fff;
	text-align: center;
	padding: .05rem .08rem;
/} 
	
	
	
/* 资讯	 */	


.information{
	font-size: .16rem;
	color: #666;
	max-width: 6.4rem;
	margin: .15rem auto;
	/* padding: 0 .1rem; */
}
	
	

	
	
	
	
	
	/* .information { */
	/* /* font-size: .16rem; */ 
	/* color: #666; */
	/* max-width: 6.4rem; */
	/* /* margin: .15rem auto; */ 
	/* /* padding: 0 .1rem; */ 
 /* }	  */
	
	
.information figure {
	margin: .15rem 0 0 0;
	position: relative;
}	
	
	
.information figure img {
	width: 50%;
	float: left;
}
.information figure figcaption {
	width: 48%;
	float: right;
}
.information .title {
	border: none;
	padding: 0 0 .05rem 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.information .small_title {
	font-weight: normal;
	padding: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.information .price {
	color: #f60;
	position: absolute;
	bottom: 0;
}
.information .price strong {
	font-size: .26rem;
}	
	
	

	
	
	/*媒体查询，大于480px小于640px*/
	@media (min-width: 480px) and (max-width: 640px) {
		#tour h2,.information .price strong {
			font-size: .26rem;
		}
		#tour h3, #footer, #tour figcaption, #tour .info, .list {
			font-size: .16rem;
		}
		#headline h2 {
			font-size: .22rem;
		}
		#headline h3 {
			font-size: .14rem;
		}	
		.list h2 {
			font-size: .2rem;
		}
	}
	
	

	/*媒体查询，小于480px*/
	@media (max-width:480px) {
		#tour h2,.information .price strong {
			font-size:.20rem;
		}
		#tour h3 ,figcaption,.info .list{
			font-size:.14rem;
		}
	
		#footer{ 
			font-size:0.12rem;
		}
			
		#headline h2 {
			font-size: .18rem;
		}
		
		#headline h3 {
			font-size: .12rem;
		}
		.list h2 {
			font-size: .17rem;
		}
		
	}		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


